footer
  //p Copyright &copy;  #{new Date().getFullYear()} - Donn Felker  - <a href="http://www.github.com/donnfelker/android-bootstrap-site">Fork the source and contribute</a> to this site (it's fun, its made with node!)
