extends layout

block scripts
  script(src='/javascripts/generation.js')

block content
  div.row.well
    div.col-md-12
      h1(style="text-align:center") Zeta Android Templates Generator.
    div.col-md-8
      div
        //div.g-plusone
        //a.twitter-share-button(href="https://twitter.com/share", data-text="Bootstrap your Android App with Android Bootstrap", data-url="https://www.androidbootstrap.com", data-via="donnfelker", data-lang="en") Tweet\
      p
    //p Built for Android Studio and Gradle
    //p Android Bootstrap includes a full working implementation of Fragments, Fragment Pager, ActionBar via AppCompat, Navigation Drawer, <a href='http://viewpagerindicator.com/'>ViewPagerIndicator</a>, <a href="http://square.github.io/retrofit/">Retrofit</a>, <a href='http://code.google.com/p/google-gson/'>GSON</a>, <a href='http://code.google.com/p/robotium/'>Robotium</a> for integration testing, API Consumption with an API on <a href='http://www.parse.com'>Parse.com</a> and much more.
      //h3 Generate Zeta Template Now.
    div.form-group
      input(id='appName', type='text', placeholder="Your App Name").form-control.input-lg
    div.form-group
      input(id='packageName', type='text', placeholder="com.yourapp.package.name").form-control.input-lg
    div
      input(type='submit', value='Generate App', id='generate-app', class='btn btn-success btn-large').form-control.input-lg
      div(style='margin-top:10px').alert.alert-warning

    div.col-md-8
      div.col-md-6
        img(src='/images/ab-screenshot-1.png')
      div.col-md-6
        //img(src='/images/ab-screenshot-3.png')
      div.col-md-6
        //img(src='/images/ab-screenshot-2.png')
      div.col-md-6
        //img(src='/images/ab-screenshot-4.png')
      p

         //p
         // i Find an issue?
         // <a href="https://github.com/donnfelker/android-bootstrap-site/issues">Report it here</a>


      div
        //h5 Download the Source
        //a(href='http://www.github.com/donnfelker/android-bootstrap') Download from GitHub
        //br
        //a(href='http://www.youtube.com/watch?v=YbyzRNxcvZw&feature=youtube_gdata') Watch the How To Video

      div
        //h3 Questions?
        //a(href='https://groups.google.com/forum/#!forum/android-bootstrap') Visit the Android Bootstrap Google Group

  div.row
    div.col-md-4
        //h4 Why was this developed?
        //p Building an application without Android Bootstrap could easily take 1-3 weeks of developing, debugging and hacking (depending on your experience level with the Standard Android Developer tools). Android Bootstrap and its app generator eliminate the need for most of this work, freeing your valuable time for making great apps.
    div.col-md-4
        //h4 What does app generation do?
        //p The app generation process does a brute force replace through the android-bootstrap source code and replaces build artifact names, package names and imports. It also generates the proper file structure for your package and updates account manager settings as well as build settings.
    div.col-md-4
        //h4 Why should I generate my app?
        //p Because its AWEEEESSSOMMMMMEEEE!!!!! No, really, it is. Using the generator you can shave weeks of development, debugging and rid yourself of the continual face-palming that occurs during the highly error prone manual renaming process.
